<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="myeclipse.connection.profile">mysql</property>
	<property name="connection.url"><![CDATA[jdbc:mysql://localhost:3306/zz?useUnicode=true&characterEncoding=utf8]]></property>
	<property name="connection.username">root</property>
	<property name="connection.password"></property>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="show_sql">true</property>
	<mapping resource="cn/withzz/blog/pojos/*.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/calendar.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/chance.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/clazz.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/client.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/clientfreeback.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/contract.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/department.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/document.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/LinkMan.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/Movement.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/offer.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/potentialClient.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/prod.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/product.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/project.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/return.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/role.hbm.xml" />
	<mapping resource="com/olddriver/crm/pojos/user.hbm.xml" />
</session-factory>
</hibernate-configuration>